@using CaptstoneProject.Models
@model List<CaptstoneProject.Models.AreaViewModel.CourseRecordViewModel>
@{
    ViewBag.Title = "My Course";
    this.Session["loginName"] = "phuonglhk";
}
<style>
    .status {
        border-radius: 3px;
        padding: 5px;
        color: white;
    }
</style>
<div class="content">
    <!-- Start Container -->
    <div class="container-default animate fadeInRight" style="padding-bottom:10px; min-height:700px">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-user" style="color:green"></i> Your courses </div>
            <form action="@Url.Action("Index","Management")" id="semesterForm">
                <label>Term: </label>
                <select id="semesterSelector" style="width:100px" name="semesterId">
                    @foreach (var item in ViewBag.semList)
                    {
                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
            </form>
            @*@if (ViewBag.semesterStatus == (int)SememsterStatus.Open)
            {
                <form method="post" action="@Url.Action("LockAllCourseForTeacher","Management")">
                    <span>
                        <input type="hidden" name="semesterId" value="@ViewBag.selectedSem" />
                        <input class="btn btn-danger" title="Lock edited all teacher of all course in @ViewBag.selectedSemName semester" type="submit" value="LockTeacher" />
                    </span>
                </form>
            }*@

            @if (ViewBag.semesterStatus == (int)SememsterStatus.Open)
            {
                <form method="post" action="@Url.Action("LockAllCourseForTrainingMangement","Management")">
                    <span>
                        <input type="hidden" name="semesterId" value="@ViewBag.selectedSem" />
                        <input class="btn btn-danger" title="Lock edited of all course in @ViewBag.selectedSemName semester" type="submit" value="Lock Semester" />
                    </span>
                </form>
            }
            <div class="panel-body table-responsive">
                <table id="testTable" class="table display dataTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Class</th>
                            <th>Date</th>
                            <th>Action</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= this.Model.Count; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@Model[i - 1].Name</td>
                                <td>@Model[i - 1].Code</td>
                                <td>@Model[i - 1].Class</td>
                                <td>From @Model[i - 1].StartDate.ToString("dd/MM/yyyy") to @Model[i - 1].EndDate.ToString("dd/MM/yyyy")</td>
                                <td><a href="@Url.Action("CourseDetails", "Management", new { courseId = Model[i - 1].CourseId , semesterId = ViewBag.selectedSem })">View course</a></td>
                                <td>
                                    @if (Model[i - 1].Status.Equals("Open"))
                                    {
                                        <i style="background-color:#6dc16d;" class="col-md-2 p-2 status">@Model[i - 1].Status</i>
                                    }
                                    else
                                    {
                                        <i style="background-color:#ef7470;" class="col-md-2 p-2 status">@Model[i - 1].Status</i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var selectedSem = '@ViewBag.selectedSem';
        if (selectedSem != -1 && selectedSem != '') {
            $('#semesterSelector').val(selectedSem);
        }
        $('#testTable').DataTable({
            "searching": true,
            "columnDefs": [
                {"className": "dt-center","targets": "_all"}
            ]
        });

        $("#semesterSelector").on('change', function () {
            @*$.ajax({
                url: '@Url.Action("Index","Management")',
                data: { semesterId: $('#semesterSelector').val() },
                type: "POST",
                success: function (result) {

                },
                error: function (error) {
                    alert("Error, please try again later.");
                }
            });*@
            $('#semesterForm').submit();
        });
    });
</script>