@using CaptstoneProject.Models
@model List<CaptstoneProject.Models.AreaViewModel.CourseRecordViewModel>
@{
    ViewBag.Title = "SemesterManagement";
}

<style>
    .my-header-modal {
        background-color: #ecb028;
        border-radius: .3rem .3rem 0 0;
    }
    

</style>

<div class="content">
    <!-- Start Container -->
    <div class="container-default animate fadeInRight" style="padding-bottom:10px; min-height:700px">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-info-circle" style="color:green"></i> Courses </div>
            <form action="@Url.Action("SemesterManagement")" id="semesterForm">
                <label>Term: </label>
                <select id="semesterSelector" style="width:100px" name="semesterId">
                    @foreach (var item in ViewBag.semList)
                    {
                        <option value="@item.Value">
                            @item.Text
                        </option>
                    }
                </select>
            </form>
            <br/>
            <button type="button" data-toggle="modal" data-target="#course-modal" class="btn btn-default"><i class="fa fa-plus"></i>Create Course</button>
            <div class="modal fade" id="course-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header my-header-modal"><h4 style="color:white">Create Role</h4><button class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button></div>
                        <div class="modal-body">
                            <form id="form-create-course" method="post" action="@Url.Action("CreateCourse")">
                                <div class="form-group">
                                    <label class="font-weight-bold">Course Name:</label>
                                    <input type="text" value="" class="form-control" placeholder="Course name" name="courseName" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Class Name:</label>
                                    <input type="text" class="form-control" value="" placeholder="Class name" name="className" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Starts - Ends:</label>
                                    <input typeof="text" name="date-picker" class="form-control" value="" />
                                    <input type="text" class="hidden" name="startDate" value="" />
                                    <input type="text" class="hidden" name="endDate" value="" />
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold">Subject:</label>
                                    <select id="subjectSelector" class="form-control" name="subjectId" data-live-search="true">
                                        @foreach (var item in ViewBag.subjectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Teacher:</label>
                                    <select id="teacherSelector" class="form-control" name="teacherId" data-live-search="true">
                                        @foreach (var item in ViewBag.teacherList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                </div>
                                <input type="text" class="hidden" name="semesterId" id="semesterId-course-form" />

                            </form>
                        </div>
                        <div class="modal-footer" data-dismiss="modal">
                            <button style="background-color: #c1c5ca;color: #444444; cursor:pointer;" type="button"
                                    class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button style="cursor:pointer;" id="btn-create-course"
                                    type="button" class="btn btn-info">Create</button>

                        </div>

                    </div>
                </div>
            </div>

            @*@if (ViewBag.semesterStatus == (int)SememsterStatus.Open)
            {
                <form method="post" action="@Url.Action("LockAllCourseForTrainingMangement")">
                    <span>
                        <input type="hidden" name="semesterId" value="@ViewBag.selectedSem" />
                        <input class="btn btn-danger" title="Lock edited of all course in @ViewBag.selectedSemName semester" type="submit" value="Lock Semester" />
                    </span>
                </form>
            }
            @if (ViewBag.semesterStatus == (int)SememsterStatus.Closed)
            {
                <form method="post" action="@Url.Action("UnlockSemester", "Admin")">
                    <span>
                        <input type="hidden" name="semesterId" value="@ViewBag.selectedSem" />
                        <input class="btn btn-danger" title="Lock edited of all course in @ViewBag.selectedSemName semester" type="submit" value="Lock Semester" />
                    </span>
                </form>
            }*@
            <button id="my-par-btn" class="btn btn-warning">Partial</button>
            <div class="panel-body table-responsive">
                <table id="testTable" class="table display dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Class</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Status Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= this.Model.Count; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@Model[i - 1].Name</td>
                                <td>@Model[i - 1].Code</td>
                                <td>@Model[i - 1].Class</td>
                                <td>From @Model[i - 1].StartDate.ToString("dd/MM/yyyy") to @Model[i - 1].EndDate.ToString("dd/MM/yyyy")</td>
                                
                                <td>
                                    @switch (Model[i - 1].Status)
                                    {
                                        case "New":
                                            {
                                                <b class="col-md-2 p-2 status status-gray">New</b>
                                                break;
                                            }
                                        case "InProgress":
                                            {
                                                <b class="col-md-2 p-2 status status-green">In Progress</b>
                                                break;
                                            }
                                        case "Submitted":
                                            {
                                                <b class="col-md-2 p-2 status status-blue">Submitted</b>
                                                break;
                                            }
                                        case "FirstPublish":
                                            {
                                                <b class="col-md-2 p-2 status status-yellow">First Publish</b>
                                                break;
                                            }
                                        case "FinalPublish":
                                            {
                                                <b class="col-md-2 p-2 status status-orange">Final Publish</b>
                                                break;
                                            }
                                        case "Closed":
                                            {
                                                <b class="col-md-2 p-2 status status-red">Closed</b>
                                                break;
                                            }
                                        default:
                                            {
                                                <b class="col-md-2 p-2 status status-black">Cancel</b>
                                                break;
                                            }
                                    }
                                </td>
                                <td><a href="@Url.Action("CourseDetails", "AdminTraining", new { courseId = Model[i - 1].CourseId})">View course</a></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="myPartial">
                @*@{ Html.RenderPartial("GetMyData"); }*@
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var selectedSem = '@ViewBag.selectedSem';
        if (selectedSem != -1 && selectedSem != '') {
            $('#semesterSelector').val(selectedSem);
        }
        $('#semesterId-course-form').val($('#semesterSelector').val());

        $("#my-par-btn").on("click", function () {
            $.ajax({
                url: "@Url.Action("GetMyData")",
                success: function (result) {
                    $("#myPartial").html(result);
                }
            })
        });

        $("#btn-create-course").on("click", function () {
            $("#form-create-course").submit();
        })


        $(window).load(function () {


            $("#semesterSelector").selectpicker();
            $("#subjectSelector").selectpicker();
            $("#teacherSelector").selectpicker();

            $('input[name="date-picker"]').daterangepicker({
                showDropdowns: true,
                locale: {
                    format: "DD/MM/YYYY"
                },
                "opens": "center",
                startDate: moment(),
                endDate: moment().add(1,'days')
            },
                function (start, end, label) {
                    $("input[name='startDate']").val(start.format("DD/MM/YYYY"));
                    $("input[name='endDate']").val(end.format("DD/MM/YYYY"));
                }
            );

            $("input[name='startDate']").val(moment().format("DD/MM/YYYY"));
            $("input[name='endDate']").val(moment().add(1, "days").format("DD/MM/YYYY"));


            $('#testTable').DataTable({
                "searching": true,
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" },
                    { "Sortable": false, "Targets": [0, 1, 2, 3, 4, 5, 6, 7, 8] }
                ]
            });


        });






        $("#semesterSelector").on('change', function () {
            @*$.ajax({
                url: '@Url.Action("Index","Admin")',
                data: { semesterId: $('#semesterSelector').val() },
                type: "POST",
                success: function (result) {

                },
                error: function (error) {
                    alert("Error, please try again later.");
                }
            });*@
            $('#semesterId-course-form').val($('#semesterSelector').val());

            $('#semesterForm').submit();
        });
    });
</script>