@model CaptstoneProject.Areas.Teacher.Controllers.CourseDetailsViewModel
@{
    ViewBag.Title = ViewBag.ClassName;
}
<style>
    .course-detail-info {
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 15px;
    }
</style>

<div class="content">
    <!-- Start Container -->
    <div class="container-default animated fadeInRight" style="padding-bottom:10px; min-height:700px">
        <div class="panel panel-default">
            <div>
                <a href="" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-export"></span>Export
                </a>
            </div>
            <div class="panel-title"><i class="fa fa-user" style="color:green"></i> Course Details </div>
            <div class="panel-body table-responsive">
                <div class="course-detail-info">
                    <label><b>Term:</b> @Model.Semester</label>
                    <label style="padding-left: 60px;"><b>Subject:</b> @Model.SubName - @Model.SubCode</label>
                    <br />
                    <label><b>Class:</b> @ViewBag.ClassName</label>
                </div>
                <div class="row">
                    <div class="offset-8 col-md-4">
                        <div class="pull-right">
                            <button class="btn-success btn" id="download-template-btn">Download Template</button>
                            <button class="btn-primary btn" id="import-mark-btn">Import excel</button>
                            <input id="upload-file" class="hidden" type="file" name="upload-file" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="offset-10 col-md-2">
                        <button id="submit-button" class="btn btn-default pull-right" disabled="disabled">Submit file</button>
                    </div>
                </div>
                <br />

                <table id="mark-table" class="table display dataTable">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Login Name
                            </th>
                            <th>
                                Student Code
                            </th>
                            @foreach (var name in Model.ComponentNames)
                            {
                                <th>
                                    @name
                                </th>
                            }
                            <th>
                                Average
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= Model.StudentInCourse.Count; i++)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    <a href="@Url.Action("EditMarks", "Course", new { studentCode = Model.StudentInCourse[i - 1].StudentCode, courseId = Model.CourseId })">@Model.StudentInCourse[i - 1].UserName</a>
                                </td>
                                <td>
                                    @Model.StudentInCourse[i - 1].StudentCode
                                </td>
                                @foreach (var mark in Model.StudentInCourse[i - 1].MarksComponent)
                                {
                                    <td>
                                        @mark.Mark
                                    </td>
                                }
                                <td>
                                    @Model.StudentInCourse[i - 1].Average
                                </td>
                                <td>
                                    @Model.StudentInCourse[i - 1].Status
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form class="hidden" method="post" id="template-request-form" action="@Url.Action("DownloadTemplate")">
    <input type="text" name="courseId" value="@Model.CourseId" />
</form>

<script>
    $('#download-template-btn').click(function () {
        $('#template-request-form').submit();
    });

    $('#import-mark-btn').click(function () {
        $('#upload-file').trigger("click");
    });

    $('#upload-file').on("change", function () {
        var fileName = this.files[0].name;
        $("#filename").html(fileName);

        if (fileName != null) {
            $('#submit-button').removeAttr("disabled");
        } else {
            $('#submit-button').attr("disabled", "disabled");
        }
    });

    $('#submit-button').on("click", function () {
        var data = new FormData();
        data.append("courseId", @Model.CourseId);
        for (var i = 0; i < $("#upload-file")[0].files.length; i++) {
            data.append("file" + i, $("#upload-file")[0].files[i]);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadExcel")',
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                if (result.success) {
                    toastr.success(result.message);
                    window.location.reload();
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                toastr.error(err);
            }
        });
    });

    $(document).ready(function () {
        $('#mark-table').DataTable({
            "searching": true
        });

    });
</script>