
@{
    ViewBag.Title = "AccountManagement";
}

<div class="content">
    <div class="container-default fadeInRight animate">
        <div class="panel panel-default">
            <div class="panel-title"><i class="fa fa-users"></i>Account Management</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div class="btn btn-default" data-toggle="modal" data-target="#create-role-modal">
                            Add Role
                        </div>
                        <div class="modal fade" id="create-role-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Create Role</h4>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="create-role-form" method="post">
                                            <input type="text" value="" name="inputRole" id="inputRole" placeholder="Input a Role" />
                                            <button type="submit" class="btn btn-success">Create</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="table_Role">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                        </table>
                    </div>


                    <div class="col-md-6 pull-right">
                        <div class="pull-right">
                            <form action="@Url.Action("DownloadAccountTemplate")" method="post">
                                <button type="submit" class="btn-success btn" id="download-template-btn"
                                        title="Template use for import multiple account in the same time">
                                    <i class="fa fa-upload"></i>
                                    Template Import Account
                                </button>
                            </form>

                            <button class="btn-primary btn"
                                    title="Import Account using template contain google emails" id="import-acc-btn">
                                Import Account
                            </button>
                            <input id="upload-file" class="hidden" type="file" name="upload-file" /><br />
                            <span id="filename"></span>
                            <div class="progress" style="display:none">
                                <div id="upload-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">

                                </div>
                            </div>
                            <button type="button" id="submit-button" class="btn btn-primary pull-right disabled" disabled="disabled">Waiting for file</button>
                       @*<table id="table_Account">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                       </table>*@
                        </div>
                    </div>
                </div>
                <br />
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

       var roleTable =  $("#table_Role").DataTable({
            //"Processing": true,
            //"Serverside": true,
            "sAjaxSource": "@Url.Action("GetRole")",
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1],
                    "bSortable": false
                }
            ],

        });

        @*$("#table_Account").DataTable({
            "sAjaxSource": "@Url.Action("")"

        });*@

        $('#import-acc-btn').click(function () {
            $('#upload-file').trigger("click");
        });

        $('#upload-file').on("change", function () {
            var fileName = this.files[0].name;
            $("#filename").html(fileName);

            if (fileName != null) {
                $('#submit-button').removeAttr("disabled");
                $('#submit-button').addClass("active");
                $('#submit-button').removeClass("disabled");
                $('#submit-button').html('Ready to submit!')
            } else {
                $('#submit-button').attr("disabled", "disabled");
                $('#submit-button').addClass("disabled");
                $('#submit-button').removeClass("active");
                $('#icon-upload').removeClass('fa-check-circle');
                $('#icon-upload').addClass('fa-times-circle');
                $('#submit-button').html('Waitting for file')
            }

        });

        $('#submit-button').on("click", function () {
        var file = $("#upload-file")[0].files[0];

        if (file.size > 20971520) {
            toastr.error('Max upload size is 20MB!');
        }
        else{
            var data = new FormData();
            for (var i = 0; i < $("#upload-file")[0].files.length; i++) {
                data.append("file" + i, $("#upload-file")[0].files[i]);
            }
            $(".progress").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportGoogleAccount")',
                contentType: false,
                processData: false,
                data: data,
                xhr: function() {
                    var settingXhr = $.ajaxSettings.xhr();
                    if (settingXhr.upload) {
                        // For handling the progress of the upload
                        settingXhr.upload.addEventListener('progress', function(e) {
                            if (e.lengthComputable) {
                                $('#upload-progress-bar').removeClass('progress-bar-danger');
                                var percent = Math.ceil(e.loaded/e.total*100);
                                $('#upload-progress-bar').attr('aria-valuenow', percent).css('width',percent+'%');
                                $('#upload-progress-bar').attr('aria-valuemax', 100);
                                $('#upload-progress-bar').html(percent+"%");
                                if(percent==100){
                                    $('#upload-progress-bar').html("Processing...");
                                }
                            }
                        } , false);
                    }
                    return settingXhr;
                },
                success: function (result) {
                    if (result.success) {
                        toastr.success(result.message);
                        $('#upload-progress-bar').html("Completed!");
                        //window.location.reload();

                    } else {
                        toastr.error(result.message);
                        $('#upload-progress-bar').html("Fail to upload!");
                        $('#upload-progress-bar').addClass('progress-bar-danger');
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    toastr.error(err);
                    $('#upload-progress-bar').html("Fail to upload!");
                    $('#upload-progress-bar').addClass('progress-bar-danger');
                }
            });
        }
        });

        $("#create-role-modal").on("change", function () {
            $("inputRole").val();
        });

        $("#create-role-form").submit(function (e) {
            $.ajax({
                url: "@Url.Action("CreateRole")",
                type: "post",
                data: $("#create-role-form").serialize(),
                success: function (result) {
                    if (result.success) {
                        toastr.success(result.message);
                        roleTable.ajax.reload();
                        $('#create-role-modal').modal('toggle');
                    } else {
                        toastr.error(result.message);
                        $('#create-role-modal').modal('toggle');
                    }
                }
            });
            e.preventDefault(); // prevent execute normal submit of form
        });

    })
</script>
