@using CaptstoneProject.Models
@model CaptstoneProject.Models.AreaViewModel.StudentViewModel
@{
    ViewBag.Title = "StudentDetailsMaterial";
}
<style>
    .bgm-green {
        background-color: #4caf50;
    }

    .bgm-amber {
        background-color: #ffc107;
    }

    .bgm-cyan {
        background-color: #00bcd4;
    }

    .bgm-teal {
        background-color: #009688;
    }

    .nav-tabs .nav-item {
        width: 100%;
    }

    .date-input {
        float: left;
        width: 90%;
        border: none;
        background: none !important;
        box-shadow: none;
        color: white;
    }

    .div-datepicker {
        background: #11ad79;
        border-radius: 2px;
        color: white;
        overflow: hidden;
    }
</style>

<div class="content">
    <div class="container-default animate fadeInRight">
        <div class="panel panel-default">
            <div class="panel-title"></div>
            <div class="panel-body">
                <div class="col-md-12 p-x-0 p-b-0">
                    <div class="row">
                        <div class="col-md-4" style="padding-left: 0px; padding-right:6px; padding-bottom:10px">
                            <div class="bgm-teal" style="min-height:135px; border-radius:5px;">
                                <div class="clearfix">
                                    @*<a title='Chỉnh sửa' class='btn btn-lg btn-primary pull-right' href='@Url.Action("Edit")/@Model.CustomerID'><i class='glyphicon glyphicon-pencil'></i></a>*@
                                    @*<div class="pmo-block card-padding col-md-12 pmo-contact hidden-xs pull-left">
                                    *@
                                    <h3 style="color: white; padding-left:10px;">Student: @Model.Name </h3>
                                    <ul style="columns: 2; list-style-type:none; -moz-column-count: 2;">


                                        @if (!string.IsNullOrWhiteSpace(this.Model.Email))
                                        {
                                            <li class="custom-break" style="color: white" title="Email">Current email: <i class="fa fa-envelope"></i> @this.Model.Email</li>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(this.Model.CurrentStudentCode))
                                        {
                                            <li class="custom-break" style="color: white" title="Email">Current student code: <i class="fa fa-id-card"></i> @this.Model.CurrentStudentCode</li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 3px; padding-right:3px;">
                            <div style="border-radius:5px;min-height:135px; background-color:rgb(234, 118, 73);">
                                <div id="accountDetailPanel" class="clearfix">
                                    <h3 id="dAccName" style="color: white; padding-left:10px;">Current Account Information</h3>
                                    <div class="col-md-12 row">
                                        <div>
                                            <ul style="columns: 2; list-style-type:none; -moz-column-count: 2;">
                                                <li style="color: white" title="Thẻ thanh toán"><i class="fa fa-id-card"></i> Student Code: @Model.CurrentStudentCode</li>
                                                <li style="color: white" title="Thẻ sản phẩm"><i class="zmdi zmdi-card-giftcard"></i> Type:  @Enum.GetName(typeof(AccountType), Model.CurrentAccount.Type == null ? 1 : Model.CurrentAccount.Type.Value) </li>
                                                <li style="color: white" title="Thẻ tích điểm"><i class="zmdi zmdi-card-membership"></i> Created Date: @Model.CurrentAccount.StartDate.Value.ToString("dd/MM/yyyy") </li>
                                            </ul>
                                        </div>
                                        <div class="pull-right row">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 6px; padding-right:0px;">
                            <div style="border-radius:5px;min-height:135px; background-color:rgb(197, 84, 131);">
                                <div id="accountDetailPanel" class="clearfix">
                                    <h3 id="" style="color: white; padding-left:10px;">Current Balance: <span id="acc_current_balance"></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-x-0">

                    <div class="row">
                        <div class="col-md-4 text-center" style="padding-left:0px; padding-right:6px; padding-bottom:10px">
                            <div class="bgm-green" style="border-radius:5px">
                                <div class="clearfix">
                                    <div class="count">
                                        <h3 id="1stPanel-title" class="m-b-10 detailPanelTitle">Tổng số môn đã đăng ký</h3>
                                        <h4 id="1stPanel-info" style="color:white;"><i class="fa fa-shopping-bag detailPanelIcon"></i></h4>
                                        <h4 style="color:white;"><span class="detailPanelInfo"> @Model.TotalRegistered</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center" style="padding-left:3px; padding-right:3px; padding-bottom:10px;">
                            <div class="bgm-amber" style="border-radius:5px">
                                <div class="clearfix">
                                    <div class="count">
                                        <h3 id="2ndPanel-title" class="m-b-10 detailPanelTitle">Tổng tiền đã chi</h3>
                                        <h4 id="2ndPanel-info" style="color:white"><i class="fa fa-money detailPanelIcon"></i></h4>
                                        <h4 style="color:white"><span class="detailPanelInfo">
                                            @if (Model.TotalMoneySpent != null)
                                            {
                                                @Model.TotalMoneySpent
                                            }
                                            else {
                                                @Html.Raw(0)
                                            }
                                             </span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center" style="padding-left:6px; padding-right:0px; padding-bottom:10px;">
                            <div class="bgm-cyan" style="border-radius:5px">
                                <div class="clearfix">
                                    <div class="count">
                                        <h3 id="3rdPanel-title" class="m-b-10 detailPanelTitle">Tổng số lần đến</h3>
                                        <h4 id="3rdPanel-info" style="color:white"><i class="fa fa-user-plus detailPanelIcon"></i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul id="TabList" role="tablist" class="nav nav-tabs" style="overflow: hidden; width: 100%">
                                <li class="nav-item"><a role="tab" class="nav-link active" data-toggle="tab" id="boughtHistory" href="#registration-tab">Purchased History</a></li>
                                <li class="nav-item"><a role="tab" class="nav-link" data-toggle="tab" href="#account-tab">List of Account</a></li>
                            </ul>



                            <div class="tab-content">
                                <div id="registration-tab" class="tab-pane active" role="tabpanel">
                                    <div class="row">


                                        <div class="col-md-8">
                                            <div class=" pull-right">
                                                <div class="dateTime width230 pull-right">
                                                    <div class="fg-line m-t-5">
                                                        <div class="div-datepicker" id="reportrange2">
                                                            <input id="date-string2" readonly class="date-input form-control text-center">
                                                            <a class="myCelenderA" id="" style="padding-top: 11px;"><i class="fa fa-calendar"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="text" id="sTime2" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                                            <input type="text" id="eTime2" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />

                                        </div>
                                    </div><br />

                                    <table id="student-registered-table" class="table-striped">
                                        <thead>
                                            <tr style="background-color: #4caf50; color: white;">
                                                <th>
                                                    <label class="">No.</label>
                                                </th>
                                                <th>
                                                    <label class="">Total Subject Quantity</label>
                                                </th>
                                                <th>
                                                    <label class="">Account Student Code</label>
                                                </th>
                                                <th>
                                                    <label class="">Price</label>
                                                </th>
                                                <th>
                                                    <label class="">Registered Date</label>
                                                </th>
                                                <th>
                                                    <label class="">Approved By</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div id="account-tab" class="tab-pane fade" role="tabpanel">
                                    
                                    <div>
                                        <table id="student-account-table" class=" table-striped">
                                            <thead>
                                                <tr style="background-color: #4caf50; color: white;">
                                                    <th>
                                                        <label>No.</label>
                                                    </th>
                                                    <th>
                                                        <label>Student Code</label>
                                                    </th>
                                                    <th>
                                                        <label>Created Date</label>
                                                    </th>
                                                    <th>
                                                        <label>Account Type</label>
                                                    </th>
                                                    <th>
                                                        <label>Account Balance</label>
                                                    </th>
                                                    <th>
                                                        <label>Status</label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>




                            </div>
                            <div class="modal-footer" style="padding:initial">
                                <a href="@this.Url.Action("Index")">
                                    <div id="create-advertising" type="button" class="btn btn-primary pull-left waves-effect">
                                        <i class="left-icon fa fa-arrow-circle-left"></i> Quay về
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>





                <div id="" class="modal fade">
                    <div id="modalAccount" class="modal-dialog" style="width: 700px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 style="color:green" id="accountDetailModalTitle"></h3>
                            </div>
                            <div class="modal-body">


                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="createTransactionPanel" class="modal fade"></div>
                <div id="editTransactionPanel" class="modal fade"></div>
                <div id="createAccountPanel" class="modal fade"></div>
                <div id="editAccountPanel" class="modal fade"></div>

                <!--Modal Membership Card-->
                <div class="modal fade in" id="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="modalContent"></div>
                        </div>
                    </div>
                </div>

                <!--Modal Add Balance-->
                <div class="modal fade" id="addBalanceModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="addBalanceModalContent"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input id="studentId" value="@this.Model.Id" hidden />






<script>
    var totalamount = 0;
    var finalomount = 0;
    var totaldiscount = 0;
    var table = null;

    var toMoney = function (val, splitter, unit) {
        var s = splitter || '.';
        var u = unit || '';
        return accounting.formatMoney(val, "", 0, s) + u;
    }


    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            size: 10,
            liveSearch: true,
        });
        //Init customer-store table

        $("#acc_current_balance").html(toMoney(@Model.CurrentAccount.Balance, ',', '') + " VND");

        //RefreshCustomerProductTable();

        //InitTransactionDatatable();
        //RefresTransactionTable();

        $('createAccountPanel').on('hidden.bs.modal', function() {
            $(this).html('');
        });

        $('editAccountPanel').on('hidden.bs.modal', function() {
            $(this).html('');
        });

        InitStudentProductDatatable();
        initStudentAccountTable();
        setupDaterangepicker2();

    });




    //Daterangepicker for second tab
    function cb2(start, end, label) {
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Tùy chọn") {
            $('#date-string2').val(label);
        } else {
            $("#date-string2").val(dateString);
        }

        $("#sTime2").val(startTime);
        $("#eTime2").val(endTime);
        $("#dateRange2").html(dateString);

        RefreshCustomerProductTable();
    }

    //student-registered-table
    function RefreshCustomerProductTable() {
        var oTable = $("#student-registered-table").DataTable();
        oTable.ajax.reload();
    }

    function InitStudentProductDatatable() {
        $("#sTime2").val(moment().startOf('week').format("DD/MM/YYYY"));
        $("#eTime2").val(moment().endOf('week').format("DD/MM/YYYY"));
        $("#student-registered-table").DataTable({
            "filter": true,
            "retrieve": true,
            "serverSide": true,
            "scrollCollapse": true,
            "sort": false,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "studentId", "value": '@Model.Id' });
                aoData.push({ "name": "startTime", "value":$('#sTime2').val() });
                aoData.push({ "name": "endTime", "value":$('#eTime2').val() });
            },
            //get customer product data
            "sAjaxSource": "@Url.Action("LoadOrder")",
            "processing": true,
            "displayLength" : "10",
            "columnDefs": [
              {
                  "targets": [0, 1, 2, 3, 4, 5],
                  "className": "dt-center",

              },
              {
                  "targets": [3],
                  "searchable": false,
                  "render": function (data, type, row) {
                      //var money = o.aData[5];
                      return toMoney(data, ',', '') + " VND";
                  }
              },
            ],
            "autoWidth": true
        });
    }

    function initStudentAccountTable() {

        $("#student-account-table").DataTable({
            "processing": true,
            "retrieve" : true,
            "sAjaxSource": "@Url.Action("loadAllStudentAccount")",
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        return toMoney(data, ',', '') + " VND";
                    }
                },
                {
                    "targets": [5],
                    "render": function (data, type, row) {
                        if (data) {
                            return "<label class=''>Active</label>";
                        }
                        else {
                            return "<label class=''>Deactive</label>";
                        }
                    }
                }

            ],
            "fnServerParams": function (data) {
                data.push({ "name": "studentId", "value": '@Model.Id' });
            }
        });
    }

    $(document).on('click', '[data-role=detail]', function () {
        currentId = $(this).data('id');
        $("#RentID").val(currentId);
        finalamount = $(this).data('final-amount');
        $('#order-detail-report-modal [data-role=order-time]').html($(this).data('order-time'));
        $('#order-detail-report-modal [data-role=invoiceid]').html($(this).data('invoiceid'));
        $('#order-detail-report-modal [data-role=cashier]').html($(this).data('cashier'));
        $('#order-detail-report-modal').modal('show');

        @*switch ($(this).data('status')) {
            case 4:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-primary myCategory'>@Resources.EnumLanguage.View_AtStore</div>")
                break;
            case 5:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-success myCategory'>@Resources.EnumLanguage.View_TakeAway</div>")
                break;
            case 6:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-warning myCategory'>@Resources.EnumLanguage.View_Delivery</div>")
                break;
        }*@
        $('#order-detail-report-modal [data-role=store-name]').html($(this).data('store-name'));
        if ($(this).data('status') == 6 || $(this).data('status') == 1) {
            $('#delivery').show();
        }
        else {
            $('#delivery').hide();
        }
        $.ajax({
            type: "GET",
            data: {"id": currentId},
            url: "@Url.Action("LoadOrderDetail")",
            dataType: "json",
            success: function(result){
                getOrderDetailsGeneralData(result.lblData)
                orderDetailTable(result.dataTable);
            },
            error: function(){
                ShowMessage("Có lỗi xảy ra", 1);
            }
        });

        //RefreshTableOrderDetail();
        //orderDetailTable._fnPageChange(0);
        //orderDetailTable._fnAjaxUpdate();
    });

    var getOrderDetailsGeneralData = function(data){
        totalamount = data.totalAmount;
        totaldiscount = data.totalDiscount * (-1);

        $('#order-detail-report-modal [data-role=customer-name]').html(data.cusName);
        $('#order-detail-report-modal [data-role=delivery-address]').html(data.cusAddr);
        $('#order-detail-report-modal [data-role=customer-phone]').html(data.cusPhone);

        $('#order-detail-report-modal [data-role=store]').html(data.store);
        $('#order-detail-report-modal [data-role=notes]').html(data.notes);
        $('#order-detail-report-modal [data-role=total-amount]').html(toMoney(totalamount, ',', ''));
        $('#order-detail-report-modal [data-role=discount]').html(toMoney(totaldiscount, ',', ''));

        var html = "";
        for(var i = 0; i < data.payment.length; i++){
            html += toMoney(data.payment[i].amount, ',', '') + " (" + data.payment[i].type + ")<br/>";
            $('#order-detail-report-modal [data-role=final-amount]').html(html);
        }

    }

    var orderDetailTable = function (data) {
        $('#order-report-detail-table').dataTable({
            "footerCallback": function (row, data, start, end, display) {
                var cells = row.getElementsByTagName('th');
                cells[0].innerHTML = "Tổng cộng: " + toMoney(totalamount, ',', '');
                cells[1].innerHTML = toMoney(totaldiscount, ',', '');
                cells[2].innerHTML = toMoney(finalamount, ',', '');
            },

            "bFilter": false,
            "bRetrieve": false,
            "bDestroy": true,
            "bServerSide": false,
            "bScrollCollapse": true,
            @*"sAjaxSource": "@Url.Action("LoadOrderDetail")",*@
            "bProcessing": true,
            //"fnServerParams": function (aoData) {
            //    aoData.push({ "name": "id", "value": currentId });
            //},
            "data": data,
            "oLanguage": {
                "sSearch": "Tên phòng:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }

            },
            "aoColumnDefs": [
                { "aTargets": [0, 1, 2, 3, 4, 5, 6], "bSortable": false },
                { "aTargets": [2, 3, 4, 5], "sClass": "text-center" },
                {
                    "aTargets": [2],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[2];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [5],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[5];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [6],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[6];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [7],
                    "sClass": "hidden",
                },
                {
                    "aTargets": [4],
                    "mRender": function (data, type, row) {
                        var type = "";
                        var color = "";
                        data = row[4];
                        @*switch (data) {
                            case 11:
                                type = "@Resources.EnumLanguage.View_PosFinished";
                                color = "<div class='label label-success myCategory'>";
                                break;
                            case 12:
                                type = "@Resources.EnumLanguage.View_PosPreCancel";
                                color = "<div class='label label-warning myCategory'>";
                                break;
                            case 13:
                                type = "@Resources.EnumLanguage.View_PosCancel";
                                color = "<div class='label label-warning myCategory'>";
                                break;
                            default:
                                type = "---";
                                color = "<div>";

                        }*@
                        return color + type + '</div>';
                    }

                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
    };



    //load overview




    function setModalHeaderWidth() {
        //set width
        $('#fixedHeader').css('width', $('#modal-dialog').width() + "px");
        $(window).resize(function () {
            $('#fixedHeader').css('width', $('#modal-dialog').width() + "px");
        });
    }



    function setupDaterangepicker2() {
        cb2(moment().startOf('month'), moment(), "Tháng này");
        $('#reportrange2').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }

        }, cb2);

    }

    $(document).on('click', '#exportEx', function () {
        $('#storeId').val($('#listStoreId').val());
        $('#formDetailReportExcel').submit();
    });







</script>

