@using CaptstoneProject.Models
@model CaptstoneProject.Models.AreaViewModel.StudentViewModel
@{
    ViewBag.Title = "StudentDetailsMaterial";
}
<style>
    .bgm-green {
        background-color: #4caf50;
    }

    .bgm-amber {
        background-color: #ffc107;
    }

    .bgm-cyan {
        background-color: #00bcd4;
    }

    .bgm-teal {
        background-color: #009688;
    }

    .nav-tabs .nav-item {
        width: 100%;
    }

    .nav-tabs {
        background: none;
    }

        .nav-tabs .nav-link {
            background: #c7c3c3;
            border: 1px solid transparent;
            border-top-right-radius: .25rem;
            border-top-left-radius: .25rem;
        }

    .date-input {
        float: left;
        width: 90%;
        border: none;
        background: none !important;
        box-shadow: none;
        color: white;
    }

    .div-datepicker {
        background: #3F51B5;
        border-radius: 2px;
        color: white;
        overflow: hidden;
    }

    .header-padding {
        padding: 10px 15px;
    }
</style>

<div class="content">
    <div class="container-default animate fadeInRight">
        <div class="panel panel-default">
            <div class="panel-title"></div>
            <div class="panel-body" style="overflow:hidden">

                <div>
                    <h3 style="color: #1143b7; padding-left:10px;">Student: @Model.Name </h3>
                </div>
                <div class="row" style="padding-left:10px;">
                    <ul class="nav nav-pills" style="color:#1143b7">

                        @if (!string.IsNullOrWhiteSpace(this.Model.Email))
                        {
                            <li class="header-padding" title="Email"><i class="fa fa-envelope">Email: </i> @this.Model.Email</li>
                        }
                        @if (!string.IsNullOrWhiteSpace(this.Model.CurrentStudentCode))
                        {
                            <li class="header-padding" title="Email"><i class="fa fa-id-card"> </i>MSSV: @this.Model.CurrentStudentCode</li>
                        }
                        @if (Model.CurrentAccount != null)
                        {
                            <li class="header-padding" title=""><i class="fa fa-user-circle-o"></i> Loại:  @Enum.GetName(typeof(AccountType), Model.CurrentAccount.Type == null ? 1 : Model.CurrentAccount.Type.Value) </li>
                            <li class="header-padding" title="ha"><i class="fa fa-calendar"></i> Ngày tạo: @Model.CurrentAccount.StartDate.Value.ToString("dd/MM/yyyy") </li>
                            <li class="header-padding" title=""><i class="fa fa-credit-card"></i>Số dư tài khoản: <span id="acc_current_balance" style="color:forestgreen"></span> </li>
                        }

                    </ul>
                </div>
                <br />
                <div class="col-md-12 p-x-0">

                    @*Create Transation Modal*@
                    <div id="create-transaction-modal" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="width: 700px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Check Student Code</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                                <label class="col-sm-2 col-sm-offset-1 control-label">
                                                    MSSV: @Model.Id
                                                    @Model.CurrentAccount.Name
                                                    @Model.Name
                                                </label>
                                            </div>
                                        <div id="transaction-info" class="">
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-offset-1 control-label">
                                                    Tên tài khoản:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input id="account-name" class="form-control" type="text" value="@Model.CurrentAccount.Name" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-offset-1 control-label">
                                                    Tên học sinh:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input id="student-name" class="form-control" type="text" value="@Model.Name" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-offset-1 control-label">
                                                    Số tiền:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input id="transaction-amount" class="form-control number currency" type="text" required />
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    <label class="col-sm-2 col-sm-offset-1 control-label">
                                                        Form:
                                                    </label>

                                                    <div class="col-sm-8" id="formTransaction-filter ">
                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="formTransaction-filter" value="@((int)TransactionForm.Increase)" checked />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Increase</label>
                                                            </div>
                                                        </div>

                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="formTransaction-filter" value="@((int)TransactionForm.Decrease)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Decrease</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            @*<div class="form-group">
                                                    <label class="col-sm-2 col-sm-offset-1 control-label">
                                                        Transaction Type:
                                                    </label>
                                                    <div class="col-sm-8" id="typeTransaction-filter">
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="typeTransaction-filter" value="@((int)TransactionTypeEnum.Normal)" checked />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Normal</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="typeTransaction-filter" value="@((int)TransactionTypeEnum.RollBack)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Roll back</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            @*<div class="form-group">
                                                    <label class="col-sm-2 col-sm-offset-1 control-label">
                                                        Transaction Type:
                                                    </label>
                                                    <div class="col-sm-8" id="typeTransaction-filter">
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="modal-transaction-filter" value="@((int)TransactionFilter.AddFunds)" checked />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Add Funds</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="modal-transaction-filter" value="@((int)TransactionFilter.PayforRegistered)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Pay for Registered</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="modal-transaction-filter" value="@((int)TransactionFilter.RollbackIncrease)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Rollback Increase</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly">
                                                            <input type="radio" name="modal-transaction-filter" value="@((int)TransactionFilter.RollbackDecrease)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Rollback Decrease</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="form-group col-md-10">
                                                <div>
                                                    <label class="control-label f-bold">
                                                        Loại giao dịch:
                                                    </label>
                                                </div>
                                                <select id="modal-select-transaction-filter">
                                                    <option value="@((int)TransactionTypeEnum.AddFunds)">@TransactionTypeEnum.AddFunds.GetEnumDisplayName()</option>
                                                    <option value="@((int)TransactionTypeEnum.TuitionPayment)">@TransactionTypeEnum.TuitionPayment.GetEnumDisplayName()</option>
                                                    <option value="@((int)TransactionTypeEnum.RefundTuitionFee)">@TransactionTypeEnum.RefundTuitionFee.GetEnumDisplayName()</option>
                                                    <option value="@((int)TransactionTypeEnum.RollbackIncrease)">@TransactionTypeEnum.RollbackIncrease.GetEnumDisplayName()</option>
                                                    <option value="@((int)TransactionTypeEnum.RollbackDecrease)">@TransactionTypeEnum.RollbackDecrease.GetEnumDisplayName()</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 col-sm-offset-1 control-label">
                                                    Notes:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input id="description" class="form-control" type="text" maxlength="50" placeholder="Nội dung" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="create-transaction-button">Tạo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End of transaction Modal*@

                    <div class="row">
                        <div class="col-md-12">
                            <ul id="TabList" role="tablist" class="nav nav-tabs">
                                <li class="nav-item"><a role="tab" class="nav-link active" data-toggle="tab" id="boughtHistory" href="#registration-tab"><h4>Lịch sử giao dịch</h4></a></li>
                                @*<li class="nav-item"><a role="tab" class="nav-link" data-toggle="tab" href="#account-tab">List of Account</a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div id="registration-tab" class="tab-pane active" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button class="btn btn-primary" id="filter-toggle" data-target="#filter-container" data-toggle="collapse" onclick="toggleIcon()"><i id="icon" class="fa fa-plus"></i>Bộ lọc</button>
                                                    <button style="" type="button" class="btn btn-success" id="btn-open-transaction-modal">
                                                        <i class="fa fa-plus"></i>Tạo giao dịch
                                                    </button>
                                                </div>
                                                <div class="offset-md-4 col-md-3 pull-right">
                                                    <div class="fg-line m-t-5">
                                                        <div class="div-datepicker" id="reportrange2">
                                                            <input id="date-string2" readonly class="date-input form-control text-center">
                                                            <a class="myCelenderA" id="" style="padding-top: 11px;"><i class="fa fa-calendar"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="collapse" id="filter-container">
                                                <div class="form-group">
                                                    <div class="col-md-2 col-sm-offset-1 control-label">
                                                        <label class="control-label f-bold">Trạng thái:</label>
                                                    </div>
                                                    <div class="group-radio-buttons col-md-10 p-l-0">
                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="transaction-status-filter" value="-1" checked />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>Tất cả</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="transaction-status-filter" value="@((int)TransactionStatus.New)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>@TransactionStatus.New.GetEnumDisplayName()</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="transaction-status-filter" value="@((int)TransactionStatus.Approve)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>@TransactionStatus.Approve.GetEnumDisplayName()</label>
                                                            </div>
                                                        </div>
                                                        <div class="pretty p-icon p-round p-jelly p-bigger">
                                                            <input type="radio" name="transaction-status-filter" value="@((int)TransactionStatus.Cancel)" />
                                                            <div class="state p-primary">
                                                                <i class="icon mdi mdi-check"></i>
                                                                <label>@TransactionStatus.Cancel.GetEnumDisplayName()</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                @*<div class="form-group">
                                                        <label class="col-sm-2 col-sm-offset-1 control-label">
                                                            Transaction Type:
                                                        </label>
                                                        <div class="col-sm-8" id="typeTransaction-filter">
                                                            <div class="pretty p-icon p-round p-jelly">
                                                                <input type="radio" name="transaction-filter" value="-1" checked />
                                                                <div class="state p-primary">
                                                                    <i class="icon mdi mdi-check"></i>
                                                                    <label>All</label>
                                                                </div>
                                                            </div>
                                                            <div class="pretty p-icon p-round p-jelly">
                                                                <input type="radio" name="transaction-filter" value="@((int)TransactionFilter.AddFunds)" checked />
                                                                <div class="state p-primary">
                                                                    <i class="icon mdi mdi-check"></i>
                                                                    <label>Add Funds</label>
                                                                </div>
                                                            </div>
                                                            <div class="pretty p-icon p-round p-jelly">
                                                                <input type="radio" name="transaction-filter" value="@((int)TransactionFilter.PayforRegistered)" />
                                                                <div class="state p-primary">
                                                                    <i class="icon mdi mdi-check"></i>
                                                                    <label>Pay for Registered</label>
                                                                </div>
                                                            </div>
                                                            <div class="pretty p-icon p-round p-jelly">
                                                                <input type="radio" name="transaction-filter" value="@((int)TransactionFilter.RollbackIncrease)" />
                                                                <div class="state p-primary">
                                                                    <i class="icon mdi mdi-check"></i>
                                                                    <label>Rollback Increase</label>
                                                                </div>
                                                            </div>
                                                            <div class="pretty p-icon p-round p-jelly">
                                                                <input type="radio" name="transaction-filter" value="@((int)TransactionFilter.RollbackDecrease)" />
                                                                <div class="state p-primary">
                                                                    <i class="icon mdi mdi-check"></i>
                                                                    <label>Rollback Decrease</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@

                                                <div class="form-group col-md-10">
                                                    <div>
                                                        <label class="control-label f-bold">
                                                            Transaction Type:
                                                        </label>
                                                    </div>
                                                    <select id="select-transaction-filter">
                                                        <option value="-1">Tất cả</option>
                                                        <option value="@((int)TransactionTypeEnum.AddFunds)">@TransactionTypeEnum.AddFunds.GetEnumDisplayName()</option>
                                                        <option value="@((int)TransactionTypeEnum.TuitionPayment)">@TransactionTypeEnum.TuitionPayment.GetEnumDisplayName()</option>
                                                        <option value="@((int)TransactionTypeEnum.RefundTuitionFee)">@TransactionTypeEnum.RefundTuitionFee.GetEnumDisplayName()</option>
                                                        <option value="@((int)TransactionTypeEnum.RollbackIncrease)">@TransactionTypeEnum.RollbackIncrease.GetEnumDisplayName()</option>
                                                        <option value="@((int)TransactionTypeEnum.RollbackDecrease)">@TransactionTypeEnum.RollbackDecrease.GetEnumDisplayName()</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <input type="text" id="sTime2" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                                            <input type="text" id="eTime2" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />

                                        </div>
                                    </div><br />

                                    <div class="">
                                        <table id="student-transaction-table" class="table-striped ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="">No.</label>
                                                    </th>
                                                    <th>
                                                        <label class="">MSSV</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Tiền</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Ngày tạo</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Trạng thái</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Loại</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Người tạo</label>
                                                    </th>
                                                    <th>
                                                        <label class="">Hành động</label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="container">
                                        <div class="modal fade" id="approveTransactionModal" role="dialog">
                                            <div class="modal-dialog modal-sm">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title">Approve or Cancel?</h2>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="lead text-muted">This Action can't be redone</p>
                                                        <input type="text" class="hidden" id="modal-transactionId" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" onclick="approveTrans(false)" class="btn btn-warning">Cancel Transacion</button>
                                                        <button type="button" onclick="approveTrans(true)" class="btn btn-success">Approve</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div id="account-tab" class="tab-pane fade" role="tabpanel">

                                        <div>
                                            <table id="student-account-table" class=" table-striped">
                                                <thead>
                                                    <tr style="background-color: #4caf50; color: white;">
                                                        <th>
                                                            <label>No.</label>
                                                        </th>
                                                        <th>
                                                            <label>Student Code</label>
                                                        </th>
                                                        <th>
                                                            <label>Created Date</label>
                                                        </th>
                                                        <th>
                                                            <label>Account Type</label>
                                                        </th>
                                                        <th>
                                                            <label>Account Balance</label>
                                                        </th>
                                                        <th>
                                                            <label>Status</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>




                <div id="" class="modal fade">
                    <div id="modalAccount" class="modal-dialog" style="width: 700px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 style="color:green" id="accountDetailModalTitle"></h3>
                            </div>
                            <div class="modal-body">


                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="createTransactionPanel" class="modal fade"></div>
                <div id="editTransactionPanel" class="modal fade"></div>
                <div id="createAccountPanel" class="modal fade"></div>
                <div id="editAccountPanel" class="modal fade"></div>

                <!--Modal Membership Card-->
                <div class="modal fade in" id="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="modalContent"></div>
                        </div>
                    </div>
                </div>

                <!--Modal Add Balance-->
                <div class="modal fade" id="addBalanceModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="addBalanceModalContent"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input id="studentId" value="@this.Model.Id" hidden />






<script>
    var totalamount = 0;
    var finalomount = 0;
    var totaldiscount = 0;
    var table = null;


    var toMoney = function (val, splitter, unit) {
        var s = splitter || '.';
        var u = unit || '';
        return accounting.formatMoney(val, "", 0, s) + u;
    }


    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            size: 10,
            liveSearch: true,
        });
        //Init customer-store table
    $("#modal-select-transaction-filter").selectpicker();

        $("#acc_current_balance").html(toMoney(@Model.CurrentAccount.Balance, ',', '') + " VND");




        //RefreshStudentTransactionTable();

        //InitTransactionDatatable();
        //RefresTransactionTable();

        $('createAccountPanel').on('hidden.bs.modal', function() {
            $(this).html('');
        });

        $("#select-transaction-filter").selectpicker();

        $('editAccountPanel').on('hidden.bs.modal', function() {
            $(this).html('');
        });

        InitStudentTransactionTable();
        //initStudentAccountTable();
        setupDaterangepicker2();


    });

    function toggleIcon() {
        $('#icon').toggleClass("fa-plus");
        $('#icon').toggleClass("fa-minus");
    }



    //Daterangepicker for second tab
    function cb2(start, end, label) {
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Custom Range") {
            $('#date-string2').val(label);
        } else {
            $("#date-string2").val(dateString);
        }

        $("#sTime2").val(startTime);
        $("#eTime2").val(endTime);
        $("#dateRange2").html(dateString);


        if ($.fn.DataTable.isDataTable('#student-transaction-table')) {
            RefreshStudentTransactionTable();
        }

    }

    //student-transaction-table
    function RefreshStudentTransactionTable() {
        $("#student-transaction-table").DataTable().ajax.reload();
    }


    //$("input[name='transaction-filter']").on('change', function() {
    //    RefreshStudentTransactionTable();
    //});
    $("input[name='transaction-status-filter']").on('change', function () {
        RefreshStudentTransactionTable();
    })
    $("#select-transaction-filter").on('change', function () {
        RefreshStudentTransactionTable();
    });


    function InitStudentTransactionTable() {
        $("#sTime2").val(moment().startOf('week').format("DD/MM/YYYY"));
        $("#eTime2").val(moment().endOf('week').format("DD/MM/YYYY"));
        $("#student-transaction-table").DataTable({
            "filter": true,
            "retrieve": true,
            "serverSide": true,
            "scrollCollapse": true,
            "ordering": false,
            responsive: true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "studentId", "value": '@Model.Id' });
                aoData.push({ "name": "startTime", "value":$('#sTime2').val() });
                aoData.push({ "name": "endTime", "value": $('#eTime2').val() });
                //aoData.push({ "name": "transactionFilter", "value": $("input[name='transaction-filter']:checked").val() });
                aoData.push({ "name": "transactionType", "value": $("#select-transaction-filter").val() });
                aoData.push({ "name": "transactionStatus", "value": $("input[name='transaction-status-filter']:checked").val() });

            },
            //get customer product data
            "sAjaxSource": "@Url.Action("LoadTransaction")",
            "processing": true,
            "columnDefs": [
              {
                  "targets": [0, 1, 2, 3, 4, 5, 6],
                  "className": "dt-center",
              },
              {
                  "targets": [2],
                  "searchable": false,
                  "render": function (data, type, row) {
                      var color = '';
                      var icon = '';
                      var decrease = '';
                      if (row[8]) { // is Increase status
                          color = 'green';
                          icon = 'fa fa-level-up';
                      } else {
                          color = 'orange';
                          icon = 'fa fa-level-down';
                          decrease = '-'
                      }
                      return "<strong style='color:" + color + "'><i class='" + icon + "'></i> " + decrease + toMoney(data, ',', '') + "</strong>";
                  }
              },
              {
                  "targets": [4],
                  "searchable": false,
                  "render": function (data, type, row) {
                    var html = "";
                        if (data == '@((int)TransactionStatus.New)') {
                            html = "<div class='label label-warning'>@TransactionStatus.New.GetEnumDisplayName()</div>"
                        }
                        else if (data == '@((int)TransactionStatus.Approve)') {
                            html = "<div class='label label-success'>@TransactionStatus.Approve.GetEnumDisplayName()</div>"
                        }
                        else {
                            html = "<div class='label label-danger'>@TransactionStatus.Cancel.GetEnumDisplayName()</div>"
                        }
                        return html;
                  }
              },
              {
                  "targets": [5],
                  "searchable": false,
                  "render": function (data, type, row) {
                      var html = "";
                      switch (data) {
                          case @((int)TransactionTypeEnum.AddFunds):
                              html = "<img class='label-img img-rounded' width='30rem' height='30rem' title='@TransactionTypeEnum.AddFunds.GetEnumDisplayName()' src='/Content/img/add-money.png'/>";
                              break;
                          case @((int)TransactionTypeEnum.TuitionPayment):
                              html = "<img class='label-img img-rounded' width='30rem' height='30rem' title='@TransactionTypeEnum.TuitionPayment.GetEnumDisplayName()' src='/Content/img/pay.png />";
                              break;
                          case @((int)TransactionTypeEnum.RefundTuitionFee):
                              html = "<img class='label-img img-rounded' width='30rem' height='30rem' title='@TransactionTypeEnum.RefundTuitionFee.GetEnumDisplayName()' src='/Content/img/refund.png />";
                              break;k
                          case @((int)TransactionTypeEnum.RollbackIncrease):
                              html = "<img class='label-img img-rounded' width='30rem' height='30rem' title='@TransactionTypeEnum.RollbackIncrease.GetEnumDisplayName()' src='/Content/img/rollback-money.png />";
                              break;
                          case @((int)TransactionTypeEnum.RollbackDecrease):
                              html = "<img class='label-img img-rounded' width='30rem' height='30rem' title='@TransactionTypeEnum.RollbackDecrease.GetEnumDisplayName()' src='/Content/img/rollback-money.png />";
                              break;

                      }
                      return html;
                  }
              },
              {
                  "targets": [7],
                  "searchable": false,
                  "render": function (data, type, row) {
                      var html = "";
                      var isNew = row[4];
                      if (isNew == '@((int)TransactionStatus.New)') {
                            html = "<button type='button' onclick='openApproveTransModal("+data+")' class='btn btn-warning'><i class='fa fa-pencil-square'></i></button>"
                        } else {
                            html = "-";
                        }
                        return html;
                  }
              },
            ],
            "autoWidth": true
        });
    }

    ///// approve modal
     function openApproveTransModal(transactionId) {
        $("#modal-transactionId").val(transactionId);
        $("#approveTransactionModal").modal('show');
    }
    function approveTrans(bool) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve", "Transaction", new { area = "TransactionManagement"})',
            data: { 'transactionId': $("#modal-transactionId").val(), 'isApproved': bool},
            success: function (result) {
                if (result.success) {
                    $("#approveTransactionModal").modal('hide');
                    swal("Success!", "Transaction has been updated", "success");
                    toastr.options.fadeOut = 3500;
                    toastr.success(result.message);
                    RefreshStudentTransactionTable();
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                toastr.error(err);
            }
        });
     }
    $('#approveTransactionModal').on('hidden.bs.modal', function () {
        $("#modal-transactionId").val('');
    })
//////end of approve modal


    ///////student account table
    @*function initStudentAccountTable() {

        $("#student-account-table").DataTable({
            "processing": true,
            "retrieve" : true,
            "sAjaxSource": "@Url.Action("loadAllStudentAccount")",
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        return toMoney(data, ',', '') + " VND";
                    }
                },
                {
                    "targets": [5],
                    "render": function (data, type, row) {
                        if (data) {
                            return "<label class=''>Active</label>";
                        }
                        else {
                            return "<label class=''>Deactive</label>";
                        }
                    }
                }

            ],
            "fnServerParams": function (data) {
                data.push({ "name": "studentId", "value": '@Model.Id' });
            }
        });
    }*@


    ////////////// create transaction modal


       $('#btn-open-transaction-modal').on('click', function () {

            $('#create-transaction-modal').modal('show');
        });

        $('#create-transaction-button').on('click', function () {
            var str = $('#transaction-amount').val();
            var amount = str.replace(/[,.VNĐ]/g, '');
            if ($("#transaction-amount").val() != '') {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateTransaction", "Transaction", new { area = "TransactionManagement"})',
                    data: {
                        'studentMajorId': @Model.CurrentAccount.StudentMajorId,
                        'amount': amount,
                        //'form': $('input[name=formTransaction-filter]:checked').val(),
                        //'type': $('input[name=typeTransaction-filter]:checked').val(),
                        'description': $('#description').val(),
                        'transactionType': $("#modal-select-transaction-filter").val()
                        //$('input[name=modal-transaction-filter]:checked').val(),
                    },
                    success: function (result) {
                        if (result.success) {
                            $('#create-transaction-modal').modal('hide');
                            toastr.success(result.message);
                            RefreshDatatable();
                        } else {
                            toastr.error(result.message);
                        }
                    },
                    error: function (result) {
                        toastr.error("Error! Something wrong has happened")
                    }
                });
            } else {
                ShowMessage("Vui lòng chọn mệnh giá giao dịch", 1);
            }
        });
    /////////////end of create transaction modal

        //////validate input money
        $(".number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('.currency').blur(function () {
            var data = $(this).val();

            $(this).val(toMoney(data, ',', 'VNĐ'));
        });

 /////end validate input money







    //load overview

    function setupDaterangepicker2() {
        cb2(moment().startOf('month'), moment(), "Tháng này");
        $('#reportrange2').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }

        }, cb2);

    }

    $(document).on('click', '#exportEx', function () {
        $('#storeId').val($('#listStoreId').val());
        $('#formDetailReportExcel').submit();
    });







</script>

